* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #4677f6;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 360px;
    height: 460px;
    border-radius: 2px;
    padding: 0px;
    background-color: #ffffff;
}

header {
    display: flex;
    justify-content: space-between; 
    align-items: center;           
    width: 100%;                   
    padding: 18px 16px; 
}

header img {
    filter: invert(69%) sepia(0%) saturate(0%) hue-rotate(180deg) brightness(90%) contrast(85%);
    width: 16px;
    height: 16px;
    cursor: pointer; 
}

header img:hover {
  filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(100%);
}

header p {
    font-size: 14px;
    color: black;
    font-weight: bold;
    text-align: center;
    flex: 1;
}

footer {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.word {
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 17px;
    display: flex;
    align-items: flex-start; 
    padding-left: 10px; 
}

.lists {
    display: flex;
    flex-direction: column;
}

.list {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin: 3px;
}

.text {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 5px;
    gap: 4px;
}

.text p {
    color: #bfbfbf;
    font-size: 9px;
    font-weight: 400;
}

.text span {
    color: black;
    font-size: 11px;
    font-weight: 500;
}

.direction-icon {
    width: 15px;
    height: 15px;
}

.street {
    position: relative;
    top: 20px;
    width: 340px;
    height: 70px;
    position: relative;
    left: 10px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.marker-icon {
    width: 30px;
    height: 30px;
    color: black;
    left: 200px;

}

.overlay {
    position: relative;
    display: flex;
    background-image: linear-gradient(
        rgb(106, 143, 237, 0.7), /* very deep semi-transparent blue */
        rgb(106, 143, 237, 0.7)
      ),
    url(./img/map.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 110px;
    padding: 24px;
    bottom: 410px;
    right: 8px;
    border-radius: 4px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.35);
    z-index: 1; 
    gap: 10px;
}

.first {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    color: #ffffff;
    font-size: 11px;
    font-weight: bold;
    gap: 20px;
}

.car-icon {
    width: 20px;
    height: 20px;
}

.second {
    display: flex;
    flex-direction: row;
    color: #ffffff;
    font-size: 11px;
    gap: 25px;
    font-weight: bold;
}

.box {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: #4677f6;
    bottom: 400px;
    left: 370px;
    width: 100px;
    height: 35px;
    gap: 3px;
    border-radius: 5px;
    padding: 3px 5px;
    z-index: 2; 
}

.location-icon {
    width: 17px;
    height: 17px;
}

.box p {
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
}