* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #4677f6;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 360px;
    height: 460px;
    border-radius: 2px;
    padding: 0px;
    background-color: #ffffff;
}

header {
    display: flex;
    justify-content: space-between; 
    align-items: center;           
    width: 100%;                   
    padding: 18px 16px; 
}

header img {
    filter: invert(69%) sepia(0%) saturate(0%) hue-rotate(180deg) brightness(90%) contrast(85%);
    width: 16px;
    height: 16px;
    cursor: pointer; 
}

header img:hover {
  filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(100%);
}

header p {
    font-size: 14px;
    color: black;
    font-weight: bold;
    text-align: center;
    flex: 1;
}

footer {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.word {
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 17px;
    display: flex;
    align-items: flex-start; 
    padding-left: 17px; 
}

.lists {
    display: flex;
    flex-direction: column;
    gap: -2px;
    padding-left: 17px;
}

.list {
    display: flex;
    flex-direction: row;
    margin-bottom: 7px;
}

.list1 {
    display: flex;
    flex-direction: row;
    gap: 18px;
    margin-bottom: 3px;
    padding-bottom: 5px;
}

.text {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 5px;
    gap: 4px;
}

.text p {
    color: #bfbfbf;
    font-size: 9px;
    font-weight: 400;
}

.text span {
    color: black;
    font-size: 11px;
    font-weight: 500;
}

.direction-icon {
    width: 15px;
    height: 15px;
}

.image-2 {
    margin-top: -12px;
}

.street {
    position: relative;
    top: 20px;
    width: 325px;
    height: 70px;
    position: relative;
    left: 10px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    z-index: 1;
}

.marker-icon {
    width: 30px;
    height: 30px;
    color: black;
    z-index: 2;
}

.overlay {
    position: relative;
    display: flex;
    background-image: linear-gradient(
        rgb(106, 143, 237, 0.7), /* very deep semi-transparent blue */
        rgb(106, 143, 237, 0.7)
      ),
    url(./img/map.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 110px;
    padding: 24px;
    bottom: 410px;
    right: 8px;
    border-radius: 4px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.35);
    z-index: 1; 
    gap: 10px;
}

.first {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    color: #ffffff;
    font-size: 11px;
    font-weight: bold;
    gap: 20px;
}

.line {
    flex: 1;                      
    height: 1px;                  
    background-color: #ffffff;    /* line color */
    position: relative;           /* so we can place the car on it */
}

.car-icon {
    position: absolute;
    top: 17%;                     
    left: 40%;                    
    transform: translate(-50%, -50%);
    width: 16px;
    height: 16px;
}

.line {
    flex: 1;
    height: 2px;
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 1) 0%,     /* solid white */
        rgba(255, 255, 255, 1) 40%,    /* stays solid white until 40% */
        rgba(255, 255, 255, 0.5) 40%,  /* start fading after 40% */
        rgba(255, 255, 255, 0.5) 100%  /* faded white till the end */
    );
    position: relative;
    border-radius: 5px;
}

.line::before,
.line::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #fff; 
}

.line::before {
    left: -4px;
}

.line::after {
    right: -4px;
}

.second {
    display: flex;
    flex-direction: row;
    color: #ffffff;
    font-size: 10px;
    gap: 55px;
    font-weight: bold;
}

.box {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: #4677f6;
    bottom: 400px;
    left: 370px;
    width: 100px;
    height: 32px;
    gap: 3px;
    border-radius: 5px;
    padding: 3px 5px;
    z-index: 2; 
    cursor: pointer;
}

.location-icon {
    width: 13px;
    height: 13px;
}

.box p {
    color: #ffffff;
    font-size: 10px;
    font-weight: bold;
}